@using Inventory_Management_System.Data;

<div class="top-row ps-2 navbar navbar-dark" style="background-color: green">
    <div class="container-fluid navbar-dark"> 
        <a class="navbar-brand" href=""> <h2>Inventory System</h2> </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

</div>

<div class='@(collapseNavMenu ? "collapse" : "")' @onclick="ToggleNavMenu" 
  style="padding: 4px; background-color: lightgray">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="item-list">
                <span class="oi oi-list-rich" /> Item List
            </NavLink>
        </div>
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span class="oi oi-person" /> Admin Dashboard
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-account-login" /> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-people" /> Registration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="oi oi-box" /> Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activitylogpage">
                <span class="oi oi-shield" /> Activity log
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                <span class="oi oi-key" /> Change Password
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger" role="button" @onclick="LogoutHandler">
                <span class="oi oi-account-logout" /> Logout
            </NavLink>
        </div>

    </nav>
</div>

@code {
    [Parameter]
    public string UserName { get; set; }
    [Parameter]
    public Role UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
 
        collapseNavMenu = !collapseNavMenu;
        
    }
}
